@page "/"

<div class="row">
    <div class="col text-center">
        <h1>Welcome to project based on Blazor</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all games in MOCK Database:</h2>
    </div>
</div>

<GameListTable Games="games"/>

<IndividualGame Game="games[0]" IsTable="false" DisplayButtons="true"/>

@code {

    List<Game> games;

    protected override void OnInitialized()
    {
        //Task.Delay(3000);
        games = new List<Game>()
        {
            new Game()
            {
                Name = "Adepts of Might and Magic",
                Genre = "Strategy",
                ReleaseDate = new DateTime(1999, 02, 23)
            },
            new Game()
            {
                Name = "FM-Simulator 2018",
                Genre = "Simulator",
                ReleaseDate = new DateTime(2017, 06, 29)
            },
            new Game()
            {
                Name = "The Wizard 3",
                Genre = "Action/RPG",
                ReleaseDate = new DateTime(2012, 10, 06)
            },
             new Game()
            {
                Name = "Catch the Frog",
                Genre = "Adventure",
                ReleaseDate = new DateTime(2019, 05, 16)
            }
        };
    }
}