@page "/"

@inject BlazorProject.Repository.IRepository repository

<div class="row">
    <div class="col text-center">
        <h1>Welcome to project based on Blazor</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all games in MOCK Database:</h2>
    </div>
</div>

<GameListTable Games="games" @ref="gameList" />

<IndividualGame Game="oneGameToShow" IsTable="false" DisplayButtons="true" SwitchGame="ShowNewGame" />

<div class="row">
    <div class="col text-center">
        <button @onclick="AddNewGame" class="btn btn-success">Add New Game</button>
    </div>
</div>

@code {

    List<Game> games = new List<Game>();

    Random rnd;
    Game oneGameToShow;

    // Step 1
    GameListTable gameList;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        games = repository.GetAllGames();

        rnd = new Random(DateTime.Now.Millisecond);
        oneGameToShow = games[rnd.Next(0, games.Count())];
    }

    void ShowNewGame()
    {
        oneGameToShow = SwitchGame();
    }

    Game SwitchGame()
    {
        Game tempGame;

        if (games.Count >= 2)
        {
            int iterator = rnd.Next(0, games.Count());
            tempGame = games[iterator];
        }
        else if (games.Count == 1)
        {
            tempGame = games[0];
        }
        else return new Game() { Name = "No items in array", ReleaseDate = DateTime.Now };
        return tempGame;
    }

    void AddNewGame()
    {
        gameList.DoSomething();
        games.Add(new Game() { Name = "Game for test", Genre = "Test", ReleaseDate = DateTime.Today });
    }
}