@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
    @*<span style="color: green">Hello from Layout (body menu content)</span>*@
</div>

<div class="main">
    <div class="top-row px-4">
        @*<span style="color: orange">Hello from Layout (body top content)</span>*@
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @*<CascadingValue Value="Color" Name="Color">
            <CascadingValue Value="Size" Name="Size">*@
        <CascadingValue Value="appStyle">
            @Body
        </CascadingValue>
        @*</CascadingValue>
        </CascadingValue>*@


            @*<span style="color: red">Hello from Layout (body bottom content)</span>*@
</div>
</div>

@code {
    AppStyle appStyle = new AppStyle();
}